/* Reset and global styles */
* {
    font-family: 'Jost', sans-serif;
}

#app {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
/* Add or modify this style in your CSS file */
.swiper-pagination {
    z-index: 1;
    bottom: -30px; /* Adjust this value to your preference */
}

.pagination-container {
    margin-top: 20px;
}



.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
        
}
.swiper-pagination-bullet-active {    
    background-color:black !important;
    margin-top:50px;
}
.image-hover::before,
.second::before {
    content: '';
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform-origin: top left;
    transition: transform 0.8s ease;
    cursor: pointer;
}

.image-hover::before {
    background-image: url('https://umino.mageblueskytech.com/media/wysiwyg/2_1_d1_1.jpg');
}

.second::before {
    background-image: url('https://umino.mageblueskytech.com/media/wysiwyg/1_d1.jpg');
}

.image-hover:hover::before {
    transform: scale(1.1);
}
.active {
    color: red;
}

.category-container {
    padding: 20px;
}

.category-title {
    text-align: center;
    margin-top: 40px;
    font-size: 3rem;
    font-weight: medium;
    line-height: 1;
}
.category-description {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 25px;
    line-height: 1;
}
.swiper-container {
    margin-top: 20px;
}
.category-item {
    width: 300px;
}
.image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-image {
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    filter: grayscale(50%);
    transition: filter 0.3s;
}

.category-image:hover {
    filter: grayscale(3%);
}

.category-text {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;

}